html,
body {
    background-color: var(--main-yellow);
}

.content-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20vh;
    display: flex;
    justify-content: center;
}

.content-wrapper button {
    width: 300px;
}

.content-wrapper button:first-child {
    margin-right: 1em;
}

@media only screen and (max-width: 1280px) {
    .content-wrapper {
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media only screen and (max-width: 680px) {
    .content-wrapper {
        flex-wrap: wrap;
        width: 100%;
    }

    .content-wrapper button {
        width: 80%
    }

    .content-wrapper button:first-child {
        margin-right: 0;
        margin-bottom: 1em;
    }
}